! Command: show running-config
! device: sw1 (vEOS, EOS-4.22.0F)
!
! boot system flash:/vEOS-lab.swi
!
transceiver qsfp default-mode 4x10G
!
hostname sw1
dns domain 0e70fd6b-7e60-4d25-968e-b049105c895d
!
spanning-tree mode mstp
!
no aaa root
!
username admin role network-admin secret sha512 $6$LvwazXpsWxq2gVoD$bvM3kZyZl0jSWwUr7Mn9b8nNco.17erfxbQgK0xl/lK2sp9nCsoRIECHulkyaiph9fxNQDdqU0/DvbaE.Z7F70
!
interface Management1
   mtu 1450
   ip address dhcp
   dhcp client accept default-route
!
no ip routing
!
management api http-commands
   protocol http
   no shutdown
!
end

